### packer ###
# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box


### terraform ###
# Terraform state files
*.tfstate
*.tfstate.*

# Local .terraform directories
**/.terraform/*

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json


### macos ###
*DS_Store
